@import url(https://fonts.google.com/specimen/Outfit);


:root {
  --White: hsl(0, 0%, 100%);
  --Light-gray: hsl(212, 45%, 89%);
  --Grayish-blue: hsl(220, 15%, 55%);
  --Dark-blue: hsl(218, 44%, 22%);
}
*{
    font-family: Outfit, sans-serif;
}
body{
    background-color: var(--Light-gray);
}
.qr-container{
    margin:4.6875rem auto;
    background-color: var(--White);
    max-width:375px;
}
.qr-container,.qr-container>img{
    border-radius: 1.25rem;
}
.qr-container>img{
    max-width: 92%;
    height:20%;
    padding:0.9rem;
    
}
h3,p{
    text-align:center;

}
h3{
    color:var(--Dark-blue);
    font-size: 1.25rem;
    padding-left:0.9rem;
    padding-right:0.9rem;

}

p{
    font-size:15px;
    padding-left:0.9rem;
    padding-right:0.9rem;
    padding-bottom: 3rem;
}


.attribution { 
    font-size: 11px;
    text-align: center;
 }

.attribution a {
     color: hsl(228, 45%, 44%); 
}